<!---
======================================
; Title: EMS app
; Author: Professor Krasso
; Date: 
; Modified By: Rochelle Markham
; Description: Employee Records App
======================================
--->

<footer>
    <p>© Company 2020</p>
</footer>