<!---
======================================
; Title: EMS app
; Author: Professor Krasso
; Date: 
; Modified By: Rochelle Markham
; Description: Employee Records App
======================================
--->

<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <body>
        <%= include ("header") %>

        <%= include ("navbar") =%>

        <div>

        </div>

        <%= include ("footer") %>
    </body>
</html>