<!---
======================================
; Title: EMS app
; Author: Professor Krasso
; Date: 
; Modified By: Rochelle Markham
; Description: Employee Records App
======================================
--->
   
   
<nav class="navbar">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <ul class="nav-ul">
        <!--Navigates to the Home page/section-->
        <li class="nav-li">
            <a class="nav-link" href="#"><button class="nav-button">Home</button></a>
        </li>
        <!--Navigates to the About page/section-->
        <li class="nav-li">
            <a class="nav-link" href="#"><button class="nav-button">About</button></a>
        </li>
        <!--Navigates to the Contact Us page/section-->
        <li class="nav-li">
            <a class="nav-link" href="#"><button class="nav-button">Contact Us</button></a>
        </li>
    </ul>
</nav>    
    