<!--
/*
============================================
; Title: Assignment 3.4
; Author: Professor Krasso
; Date: May 13 2020
; Modified By: Rochelle Markham
; Description: Putting it all together
;===========================================
*/-->

<%- include ("header") %>

<div role="main" class="container">
    <br/><br/>
    <h2>Welcome to the <%= message %>!</h2>
</div>

<%- include ("footer") %>